services:
  postgres:
    image: postgres:16
    container_name: aidlo-postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-aidlo}
      POSTGRES_USER: ${POSTGRES_USER:-aidlo}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
