spring:
  datasource:
    url: jdbc:h2:mem:aidlo;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
    open-in-view: false
  flyway:
    enabled: false

server:
  tomcat:
    basedir: ${TOMCAT_BASEDIR:./target/tomcat}
  shutdown: graceful
